.simple_grid_footer{display:flex;}
.simple_grid_footer .pagination{
    margin-right:auto;
    margin-left:auto;
    width:content-box;
}
.simple_grid_footer .pagination > ul{
    list-style:none;
    width:content-box;
}
.simple_grid_footer .pagination .active{
    color: var(--dark-color)!important;
}

.simple_grid_footer .pagination .button-right{
    padding-left: 6px;
}
.simple_grid_footer .pagination .button-left{
    padding-left: 5px;
    padding-right: 6px;
}
.simple_grid_footer .pagination > ul  > li > div > button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.simple_grid_footer .pagination > ul  > li > div >input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.simple_grid_footer .pagination > ul > li{
    float:left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(40, 40, 40, 0.50);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.simple_grid_footer .pagination > ul > li:hover {color:var(--dark-color);}
.simple_grid_footer .pagination > ul > li:active {background: #80a0f0;}

.paginationUp , .paginationDown, .paginationMore {
    margin-top: 8px;
    color: var(--blue-color);
    font-weight: 600;
    line-height: 140%;
    text-align: left;
}
.paginationUp:first-of-type{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
.paginationMore:first-of-type{
    font-size:14px;
    width:60%;
    padding-top:8px;
    border-radius:8px;
}
.paginationDown:first-of-type{
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.paginationUp:active , .paginationDown:active , .paginationMore:active {background:#1c4bf0;}
.paginationUp:hover , .paginationDown:hover , .paginationMore:hover {color:#dae0e5;}

