.lawyer-section {
    padding-top: 30px;
    padding-bottom: 80px;
}
.lawyer-section .icon {
    width: 23px;
}
.lawyer-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lawyer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lawyer-container .left {
    min-width: 483px;
    width: 483px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.lawyer-container .left .lawyer-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 16px;
    position: relative;
}

.lawyer-container .left .lawyer-top {
    display: flex;
    gap: 16px;
    position: relative;
}
    .edit{
        background: url(../images/icons/edit-icon.svg) no-repeat;
        cursor: pointer;
        height: 24px;
        position: absolute;
        right: 21px;
        top: 18px;
        width: 24px;
        z-index: 9;
    }
.lawyer-container .left .lawyer-img {
    flex: 0 0 130px;
    height: 130px;
}
.lawyer-container .left .lawyer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--b-radius);
}
.lawyer-container .left .lawyer-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.lawyer-container .left .lawyer-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
}
    .lawyer-container .left .lawyer-name.with_ico{padding-right: 30px;}
.lawyer-container .left .lawyer-check {
    align-items: center;
    background: var(--green-color) url(../images/icons/check-icon-white.svg) right 20px center no-repeat;
    border-radius: 18px;
    color: var(--white-color);
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    gap: 5px;
    margin-top: auto;
    padding: 5px 48px 5px 20px;
}
    .lawyer-container .left .lawyer-check.moderation{
        background: var(--blue-color);
        padding: 5px 26px;
    }
.lawyer-container .left .lawyer-bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lawyer-container .left .lawyer-info_row {
    display: flex;
    gap: 8px;
    align-items: center;
}
.lawyer-info_buttons{
    align-items: center;
    padding-top: 12px;
    width: 100%;
}
    .lawyer-info_buttons:not(:last-child){margin-bottom: 12px;}
    .lawyer-info_buttons .main-btn{width: 212px;}
    .logout{
        background: url(../images/icons/logout-icon.svg) right no-repeat;
        color: rgba(40,40,40,.5);
        font-size: 17px;
        font-weight: 600;
        padding-right: 28px;
        line-height: 140%;
    }
        .logout:hover{text-decoration: underline;}
.lawyer-info_balance{
    align-items: center;
    background-color: var(--background-color);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 22px;
    width: 100%;
}
    .lawyer-balance-block p{
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 4px;
        width: 100%;
    }
    .balance-summ{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 18px;
        justify-content: flex-start;
        line-height: 140%;
    }
        .balance-summ_ico{
            align-items: center;
            background-color: var(--orange-color);
            border-radius: 50%;
            display: flex;
            font-size: 18px;
            height: 32px;
            justify-content: center;
            line-height: 140%;
            margin-right: 8px;
            width: 32px;
        }
    .lawyer-info_balance .main-btn{width: 212px;}
.lawyer-container .left .buttons-container {
    flex-direction: column;
}
.lawyer-container .left .buttons-container button {
    line-height: 100%;
    width: 100%;
    justify-content: center;
}
.lawyer-block_subscribe{
    display: grid;
    grid-gap: 36px 20px;
    grid-template-columns: repeat(2, 1fr);
}
    .lawyer-block_subscribe_title{
        color: var(--blue-color);
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }
    .lawyer-block_subscribe_days{
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        margin-left: auto;
    }
    .lawyer-block_subscribe_date{
        background: url(../images/icons/subsribe-date-icon.svg) left no-repeat;
        color: rgba(40,40,40,.5);
        display: inline-block;
        font-size: 14px;
        line-height: 140%;
        padding-left: 25px;
    }
    .lawyer-block_subscribe_extension{
        background: url(../images/icons/arrow-right-green.svg) right no-repeat;
        color: var(--green-color);
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
        margin-left: auto;
        padding-right: 14px;
        text-transform: uppercase;
    }
    .lawyer-block_subscribe_extension:hover{text-decoration: underline;}
.exchange-block {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(2px);
}
.exchange-block .main-btn {
    width: 100%;
    justify-content: center;
    margin-top: auto;
}
.exchange-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    position: relative;
}
.exchange-info {
    display: flex;
    gap: 28px;
}
.exchange-info .exchange-img {
    min-width: 151px;
    width: 151px;
    height: 179px;
}
.exchange-info .exchange-img img {
    width: 100%;
    height: 100%;
    border-radius: var(--b-radius);
    object-fit: cover;
    object-position: center;
}

.exchange-info .block {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.exchange-info .exchange-info_line {
    display: flex;
    gap: 28px;
    align-items: flex-start;
}
.exchange-info .exchange-info_number {
    color: var(--blue-color);
    font-size: 25px;
    font-weight: 600;
    width: 27px;
    height: 27px;
    aspect-ratio: 1;
    background-color: var(--white-color);
    border-radius: 50%;
    position: relative;
}
.exchange-info .exchange-info_number span {
    position: absolute;
    right: -12px;
    top: -1px;
}
.exchange-info .exchange-info_text {
    padding-top: 3px;
    font-size: 17px;
    line-height: 140%;
}
.exchange-dogovor {
    padding: 12px 22px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    position: relative;
}
.exchange-dogovor:after, .exchange-dogovor:before {
    content: '';
    position: absolute;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    border-radius: 18px;
    display: block;
    height: 100%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
.exchange-dogovor:after {
    width: calc(100% - 6px);
    bottom: -8px;
}
.exchange-dogovor:before {
    width: calc(100% - 20px);
    bottom: -16px;
}
.exchange-dogovor_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}
.exchange-dogovor_text {
    display: flex;
    gap: 8px;
    font-size: 18px;
    line-height: 140%;
    align-items: center;
}
.exchange-dogovor_text span {
    background-color: #FF9E0C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .lawyer-container {
        flex-direction: column;
    }
    .lawyer-container .left {
        min-width: auto;
        width: 100%;
        max-width: 100%;
        flex-direction: row;
    }
    .lawyer-container .right{
        margin-top: 12px;
        width: 100%;
    }
    .exchange-info .exchange-info_text {
        padding-top: 3px;
        font-size: 17px;
        line-height: 140%;
    }
    .lawyer-container .left .lawyer-block,.lawyer-container .left component{width: 100%;}
}
@media screen and (max-width: 980px) {
    .lawyer-container .left {
        flex-direction: column;
        gap: 20px;
    }
    .lawyer-container .left .lawyer-name {
        font-size: 22px;
        font-weight: 600;
        line-height: 140%;
    }
}
@media screen and (max-width: 768px) {
    .lawyer-container {
        gap: 52px;
    }
    .lawyer-section {
        padding-top: 16px;
        padding-bottom: 12px;
    }
    .lawyer-section .lawsuit_nav {
        margin: 0 -16px;
        padding: 40px 15px 12px;
    }
    .lawyer-container .left {
        gap: 8px;
    }
    .lawyer-container .round-top_nav {
        gap: 20px;
        position: sticky;
        top: 60px;
        z-index: 1;
        background-color: var(--white-color);
        display: none;
    }
    .round-top_nav li {
        padding: 4px 0;
    }
    .round-top_nav li.active {
        padding: 4px 30px;
    }
    .lawyer-info_buttons{padding-top: 4px;}
}
@media screen and (max-width: 480px) {
    .lawyer-section {
        padding-top: 16px;
        padding-bottom: 12px;
    }
    .lawyer-container .left .lawyer-block {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--white-color);
        border-radius: 16px;
        padding: 12px;
    }
    .lawyer-container .left .lawyer-top {
        gap: 10px;
    }
    .lawyer-container .left .lawyer-img {
        flex: 0 0 90px;
        height: 90px;
    }
    .lawyer-container .left .lawyer-name {
        font-size: 16px;
    }
    .lawyer-container .left .lawyer-check {
        background-position: right 10px center;
        background-size: 20px auto;
        font-size: 12px;
        line-height: 140%;
        padding: 4px 42px 4px 18px;
    }
    .lawyer-container .left .lawyer-check.moderation{padding: 4px 18px;}
    .lawyer-container .left .lawyer-bottom {
        gap: 16px;
    }
    .lawyer-container .lawyer_rate-block {
        flex-direction: column;
        gap: 4px;
    }
    .lawyer-container .left .lawyer-info_row span {
        font-size: 14px;
    }
    .exchange-block {
        padding: 20px 12px;
        gap: 16px;
    }
    .exchange-block .main-btn {
        width: 100%;
        justify-content: center;
        margin-top: 16px;
    }
    .exchange-title {
        font-size: 18px;
    }
    .exchange-info {
        gap: 16px;
        flex-direction: column;
        margin-top: 16px;
    }
    .exchange-info .exchange-img {
        min-width: auto;
        width: 100%;
        max-width: 100%;
        height: 170px;
    }
    .exchange-info .exchange-img img {
        height: 100%;
        border-radius: var(--b-radius);
        object-fit: cover;
        object-position: center;
    }
    .exchange-info .block {
        gap: 12px;
    }
    .exchange-info .exchange-info_text {
        font-size: 16px;
    }
    .exchange-dogovor {
        padding: 9px 16px;
    }
    .exchange-dogovor_title {
        font-size: 14px;
    }
    .exchange-dogovor_text {
        font-size: 14px;
        gap: 6px;
    }
    .exchange-dogovor_text span {
        width: 23px;
        height: 23px;
    }
    .lawyer-info_balance{
        background: none;
        padding: 0;
    }
        .lawyer-balance-block{
            align-items: center;
            background-color: var(--background-color);
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 12px;
            padding: 12px 16px;
            width: 100%;
        }
            .lawyer-balance-block p{
                font-size: 14px;
                width: calc(50% - 4px);
            }
            .balance-summ{
                font-size: 16px;
                width: calc(50% - 4px);
            }
    .lawyer-info_balance .main-btn{
        height: 50px;
        width: 100%;
    }
    .lawyer-block_subscribe_title{font-size: 18px;}
}



.right {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: calc(100% - 495px);
}

.lawyer-card {
    padding: 20px;
    border-radius: 16px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lawyer-card .lawyer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.lawyer-card .lawyer-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
}
    .lawyer-card .lawyer-info .edit{
        right: 0;
        top: -2px;
    }
.lawyer-card .lawyer-check {
    align-items: center;
    gap: 5px;
    display: inline-flex;
    white-space: nowrap;
    padding: 5px 20px;
    background-color: var(--green-color);
    border-radius: 18px;
    color: var(--white-color);
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
}
.lawyer-card_block-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    margin: 8px 0;
}
.lawyer-card_block-title span {
    color: rgba(40, 40, 40, 0.50);
}
.lawyer-text_p {
    color: var(--dark-color);
    line-height: 140%;
}
.lawyer-text_blue {
    color: var(--blue-color)
}
.lawyer-card_block {
    border-radius: var(--b-radius);
    border: 2px solid rgba(0, 0, 0, 0.10);
    padding: 7px 18px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}
.lawyer-card_block img {
    width: 100%;
    /*height: 130px;*/
    aspect-ratio: 1;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}
.lawyer-photos, .lawyer-certs_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
}
.lawyer-photos li, .lawyer-certs_container li {
    display: flex;
}
.lawyer-cert {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}
.lawyer-cert p {
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

@media screen and (max-width: 1280px) {
    .lawyer-photos, .lawyer-certs_container {
        grid-template-columns: repeat(6, minmax(184px, 184px));
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
    }
}
@media screen and (max-width: 768px) {
    .lawyer-container .right{
        gap: 12px;
        margin: 0 -16px;
        width: calc(100% + 32px);
    }
    .lawyer-card {
        border-radius: 0;
        padding-top: 40px;
    }
    .lawyer-card .lawyer-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .lawyer-card_block img {
        width: 100%;
        height: 130px;
        aspect-ratio: 1;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }
    .lawyer-photos, .lawyer-certs_container {
        grid-template-columns: repeat(6, minmax(130px, 130px));
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
    }
}
@media screen and (max-width: 480px) {
    .lawyer-card {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .lawyer-card .lawyer-check {
        font-size: 12px;
        padding: 4px 20px;
        line-height: 100%;
    }
    .lawyer-card .lawyer-check img {
        width: 17px;
    }
    .lawyer-text_blue {
        color: var(--blue-color)
    }
    .lawyer-card_block {
        padding: 0;
        border-radius: 0;
        border: none;
        position: relative;
    }
    .lawyer-card_block:last-of-type {
        margin-top: 12px;
    }
}



.lawyer-wrapper {
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.lawyer-bottom-btns {
    display: none;
    padding: 50px 16px 50px;
}
.lawyer-bottom-btns .main-btn {
    width: 100%;
}
.lawyer-bottom-btns .main-btn .first {
    gap: 12px;
}
.lawyer-wrapper_title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    position: relative;
    width: 100%;
    justify-content: center;
}
.lawyer-wrapper_title._line-blue{margin-bottom: 26px;}
.client-add-order_btn{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
    .client-add-order_btn .lawyer-wrapper_title-left{
        margin-bottom: 0;
        width: auto;
    }
.lawyer-wrapper_title-left {
    text-align: left;
    margin-bottom: 8px;
}
.lawyer-wrapper_title span {
    color: rgba(40, 40, 40, 0.50);
}
.lawyer-wrapper_subtitle {
    position: relative;
    text-align: center;
    line-height: 140%;
    margin-top: -8px;
}
.add-services-btn{
    align-items: center;
    border: 2px rgba(0,0,0,.10) solid;
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    width: 100%;
}
    .add-services-btn span{
        color: var(--blue-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        padding-left: 28px;
        position: relative;
        transition: all .3s linear;
    }
    .add-services-btn:hover span{color: var(--orange-color);}
    .add-services-btn span:before,.add-services-btn span:after{
        background-color: var(--blue-color);
        border-radius: 2px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: calc(50% - 1px);
        transition: all .3s linear;
        width: 19px;
    }
    .add-services-btn span:after{transform: rotate(90deg);}
    .add-services-btn:hover span:before,.add-services-btn:hover span:after{background-color: var(--orange-color);}
.lawyer-services_block {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.lawyer-service_line {
    align-items: center;
    padding: 15px 20px;
    display: flex;
    gap: 85px;
    border-radius: var(--b-radius);
    border: 2px solid rgba(0, 0, 0, 0.10);
}
    .lawyer-service_line .edit{
        right: 10px;
        top: 10px;
    }
.lawyer-service_left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: calc(100% - 150px);
    width: 556px;
}
.lawyer-service_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}
.lawyer-service_text {
    color: rgba(40, 40, 40, 0.80);
    line-height: 140%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 44px;
}
.lawyer-service_red-more {
    color: var(--blue-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1px;
    width: max-content;
    text-transform: uppercase;
}
.lawyer-service_price {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}
.lawyer-service_price > span {
    color: #FF9E0C;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    white-space: nowrap;
}
.more-services {
    margin-top: 8px;
    color: var(--blue-color);
    font-weight: 600;
    line-height: 140%;
    text-align: left;
}


.lawyer-all-services ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 8px;
}
.lawyer-all-services li {
    line-height: 140%;
    border-radius: var(--b-radius-second);
    background: rgba(198, 208, 253, 0.30);
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.lawyer-practice_ul {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lawyer-practice_ul li {
    padding: 13px 60px 13px 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: var(--b-radius);
    border: 2px solid rgba(0, 0, 0, 0.10);
    position: relative;
    cursor: pointer;
}
.lawyer-practice_ul li .icon {
    width: 8px;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transition-duration: var(--transition);
}
.lawyer-practice_ul li:hover > .icon {
    scale: 120%;
}
.lawyer-practic_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}
.lawyer-practic_number {
    color: rgba(40, 40, 40, 0.80);
    line-height: 140%;
}


.lawyer-comments {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lawyer-comments .lawyer-wrapper_title {
    width: 100%;
}
.lawyer-comment_block {
    margin-top: 12px;
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lawyer-comment_block .specialist-comment {
    background-color: var(--background-color);
    padding: 12px;
    border-radius: var(--b-radius);
}
.lawyer-comment_block .specialist-comment .comment-rate {
    display: flex;
    align-items: center;
    gap: 8px;
}
    .comment-rate .stars{
        background-position: 0 -15px;
        height: 15px;
        margin-top: -2px;
        width: 88px;
    }
    .comment-rate .stars span{background-size: auto 30px;}

.lawyer-comment_block .specialist-comment .name {
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}
.lawyer-comment_block .specialist-comment .date {
    color: rgba(40, 40, 40, 0.80);
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
}
.lawyer-comment_block .specialist-comment .comment-text {
    margin-top: 10px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lawyer-comment_block .more-services {
    margin-top: auto;
}
.lawyer-comment_rate-block {
    width: calc(50% - 8px);
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.lawyer-comment_rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lawyer-comment_rate p {
    white-space: nowrap;
    margin: 3px auto 0 12px;
    font-size: 15px;
    line-height: 140%;
}
.lawyer-comment_points {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
}
.lawyer-comment_stars-lines {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.lawyer-comment_stars-lines .span_gray {
    color: rgba(40, 40, 40, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.lawyer-comment_stars-lines .span_main {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.lawyer-comment_stars-line {
    display: flex;
    align-items: center;
    gap: 8px;
}
.lawyer-comment_line {
    flex: 1 1 auto;
    height: 5px;
    background: var(--background-color);
    border-radius: 18px;
    position: relative;
}
.lawyer-comment_span-orange {
    position: absolute;
    border-radius: 18px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FF9E0C;
}
.lawyer-comment_span-orange.span1 {
    width: 76%;
}
.lawyer-comment_span-orange.span2 {
    width: 18%;
}
.lawyer-comment_lil-text {
    color: rgba(40, 40, 40, 0.80);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}


@media screen and (max-width: 768px) {
    .lawyer-wrapper {
        padding: 40px 16px 50px;
        border-radius: 0;
    }
    .lawyer-service_line {
        gap: 12px;
    }
    .lawyer-all-services ul {
        display: flex;
        flex-wrap: wrap;
    }
    .lawyer-practice_ul li .read-more {
        color: var(--blue-color);
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .lawyer-practice_ul li .icon {
        display: none;
    }
    .lawyer-comment_block {
        width: 100%;
        order: 2;
        gap: 16px;
    }
    .lawyer-comment_block .specialist-comment {
        background-color: var(--white-color);
        padding: 12px 16px;
        border: 2px solid rgba(0, 0, 0, 0.10);
    }
    .lawyer-comment_rate-block {
        width: 100%;
        order: 1;
    }
    .lawyer-bottom-btns {
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    .lawyer-wrapper_title {
        font-size: 18px;
    }
    .lawyer-wrapper_subtitle {
        font-size: 14px;
    }
    .lawyer-service_line {
        flex-direction: column;
        padding: 12px 15px 20px;
    }
    .lawyer-service_title {
        font-size: 16px;
    }
    .lawyer-service_text {
        font-size: 14px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    }
    .lawyer-service_price {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4px;
    }
    .lawyer-service_price .main-btn {
        max-width: 190px;
        width: 100%;
    }
    .more-services {
        text-align: center;
        font-size: 16px;
        margin-top: 24px;
    }
    .lawyer-all-services ul {
        margin-top: 14px;
    }
    .lawyer-practice_ul li {
        padding: 12px 14px;
    }
    .lawyer-practic_title {
        font-size: 16px;
    }
    .lawyer-comment_block {
        width: 100%;
        order: 2;
        gap: 16px;
        margin-top: 8px;
    }
    .lawyer-comment_block .specialist-comment {
        background-color: var(--white-color);
        border: 2px solid rgba(0, 0, 0, 0.10);
        padding: 12px 16px;
    }
    .lawyer-comment_block .specialist-comment .comment-rate {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
    }
    .lawyer-comment_block .specialist-comment .stars {margin-right: calc(100% - 110px);}
    .lawyer-comment_block .specialist-comment .comment-text {
        font-size: 16px;
    }
    .lawyer-comment_rate-block {
        width: 100%;
        order: 1;
        gap: 12px;
    }
    .lawyer-comment_rate p {
        font-size: 12px;
    }
    .lawyer-comment_points {
        font-size: 18px;
    }
    .lawyer-comment_stars-lines .span_gray {
        font-size: 12px;
        width: 50px;
    }
    .lawyer-comment_stars-lines .span_main {
        width: 25px;
    }
    .lawyer-comment_line {
        height: 4px;
    }
    .lawyer-comment_lil-text {
        font-size: 12px;
    }
}



.lawyer-contacts {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}
.lawyer-contacts .lawyer-wrapper_title {
    width: 100%;
}
.lawyer-contacts .lawyer-info {
    margin-top: 16px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.lawyer-contacts .lawyer-info_row {
    display: flex;
    align-items: center;
    gap: 8px;
}
.link {
    color: var(--blue-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-decoration-line: underline;
}
.lawyer-contacts .buttons-container {
    justify-content: center;
    width: 100%;
    margin-top: 12px;
}
.lawyer-contacts .buttons-container .main-btn {
    width: 250px;
}
.lawyer-contacts_map {
    margin-top: 16px;
    /*width: 480px;*/
    min-width: 480px;
    flex: 1 1 auto;
    height: 210px;
    position: relative;
}
.lawyer-contacts_map > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--b-radius);
}
.lawyer-contacts_loc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.lawyer-contacts_loc span {
    border-radius: 18px;
    background-color: var(--white-color);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 140%;
    box-shadow: var(--box-shadow);
}
.lawyer-contacts_loc > img {
    width: 40px;
}

.lawyer-answers_table {
    display: grid;
    grid-template-columns: minmax(100px, 578px) minmax(100px, 310px) minmax(auto, auto);
    margin-top: 12px;
}
.lawyer-answers_table .table-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lawyer-answers_table .table-col p {
    color: rgba(40, 40, 40, 0.80);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    height: 60px;
    align-items: center;
    display: flex;
}
.lawyer-answers_table .table-col.col1 p {
    color: var(--dark-color);
    padding: 12px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border-radius: var(--b-radius) 0 0 var(--b-radius);
    border: 2px solid rgba(0, 0, 0, 0.10);
    border-right: none;
}
.lawyer-answers_table .table-col.col2 p {
    padding: 12px 0;
    border-radius: 0;
    border: 2px solid rgba(0, 0, 0, 0.10);
    border-right: none;
    border-left: none;
}
.lawyer-answers_table .table-col.col3 p {
    padding: 12px 20px 12px 0;
    color: var(--dark-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    justify-content: center;
    align-items: center;
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    border: 2px solid rgba(0, 0, 0, 0.10);
    border-left: none;
}
.lawyer-answers_table .table-col.col3 .col-header {
    padding-right: 20px;
}
.lawyer-answers_table .col-header {
    color: rgba(40, 40, 40, 0.50);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}

.lawyer-footer {
    position: sticky;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--white-color);
}
.lawyer-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lawyer-footer .container .buttons-container {
    display: flex;
    align-items: center;
}
.lawyer-footer .container .buttons-container .main-btn {
    width: 240px;
}
.lawyer-footer .container .buttons-container .main-btn .icon {
    width: 12px;
}
.lawyer-block_lil {
    width: 330px;
    display: flex;
    gap: 10px;
}
.lawyer-block_lil img {
    width: 87px;
    height: 87px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--b-radius);
}
.lawyer-block_lil .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.lawyer-block_lil .lawyer-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}
.lawyer-block_lil span {
    color: rgba(40, 40, 40, 0.50);
    line-height: 140%;
}
.lawyer-answers_table.mobile {
    display: none;
}

@media screen and (max-width: 1280px) {
    .lawyer-contacts_map {
        height: 300px;
    }
    .lawyer-footer {
        position: initial;
    }
    .lawyer-footer .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .lawyer-footer .container .buttons-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    .lawyer-footer .container .buttons-container .main-btn {
        width: auto;

    }
    .lawyer-answers_table .table-col.col3 .col-header {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .lawyer-contacts .lawyer-wrapper_title {
        width: 100%;
        order: 1;
    }
    .lawyer-contacts .lawyer-info {
        margin-top: 16px;
        order: 2;
    }
    .lawyer-contacts .buttons-container {
        order: 4;
        margin-top: 0;
    }
    .lawyer-contacts_map {
        margin: 0 -16px;
        height: 300px;
        min-width: 0;
        order: 3;
    }
    .lawyer-contacts_map > img {
        border-radius: 0;
    }
    .lawyer-footer {
        position: initial;
    }
    .lawyer-footer .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .lawyer-footer .container .buttons-container {
        grid-template-columns: 1fr;
    }
    .lawyer-footer .container .buttons-container .main-btn {
        width: auto;
    }
    .lawyer-answers_table.mobile {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .lawyer-answers_answer {
        line-height: 140%;
        padding: 12px 14px;
        border-radius: 12px;
        border: 2px solid rgba(0, 0, 0, 0.10);
    }
    .lawyer-answers_answer h3 {
        font-weight: 600;
        line-height: 140%;
    }
    .lawyer-answers_answer p {
        color: rgba(40, 40, 40, 0.80);
        font-size: 14px;
        line-height: 140%
    }
    .lawyer-answers_answer button {
        color: var(--blue-color);
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
    }

}
@media screen and (max-width: 480px) {
    .lawyer-contacts .buttons-container {
        flex-direction: column;
    }
    .lawyer-contacts .buttons-container .main-btn {
        width: 100%;
    }
    .link {
        font-size: 14px;
    }
}


.my-orders .lawyer-wrapper_title {
    text-align: left;
    margin-bottom: 8px;
}
.my-orders_ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.my-orders_ul > li {
    border-radius: var(--b-radius);
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 15px 20px;
}
.my-orders_ul li {
    display: flex;
    gap: 28px;
    align-items: center;
}
.my-orders_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.my-orders_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    transition: all .3s linear;
}
    a.my-orders_text:hover{color: var(--blue-color);}
.my-orders_price {
    color: var(--blue-color);
    font-weight: 600;
    line-height: 140%;
}
.my-orders_price span {
    color: rgba(40, 40, 40, 0.50);
}
.my-orders_stage {
    padding: 0 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    flex: 0 0 114px;
    text-align: center;
}
.my-orders_stage.moderation-status {
    color: var(--blue-color)
}
.my-orders_stage.closed-status {
    color: var(--green-color)
}
.my-orders_sub-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.my-orders_sub-ul li {
    text-align: center;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 140%;
    border-radius: var(--b-radius-second);
    background: rgba(198, 208, 253, 0.30);
}

@media screen and (max-width: 768px) {
    .my-orders .lawyer-wrapper_title {
        text-align: center;
    }
    .my-orders_ul > li {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        position: relative;
    }
    .my-orders_time {
        position: absolute;
        right: 12px;
        top: 12px;
        font-size: 12px;
        line-height: 140%;
        color: rgba(40, 40, 40, 0.5);
    }
    .my-orders_time:after {
        position: absolute;
        content: url("../images/icons/lil-clock-gray.svg");
        left: -24px;
        width: 24px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
    .my-orders_info {
        order: 2;
    }
    .my-orders_stage {
        flex: 1 1 auto;
        order: 1;
        text-align: left;
        padding: 0;
    }

    .lawsuit {
        padding-top: 40px;
    }
    .lawyer-wrapper_title-left {
        text-align: center;
        margin: 0;
    }

    .lawsuit .my-orders_info {
        order: 1;
    }
    .my-orders_sub-ul li {
        padding: 7px 12px;
    }
}
@media screen and (max-width: 480px) {
    .my-orders_ul > li {
        gap: 10px;
        padding: 14px 12px;
    }
    .my-orders_text {
        font-size: 16px;
    }
}


.subscribe-block .subscribe {
    display: flex;
    justify-content: space-between;
    border-radius: var(--b-radius-second);
    border: 2px solid rgba(0, 0, 0, 0.10);
    padding: 14px 20px;
    align-items: center;
}
.subscribe_text {
    font-weight: 600;
    line-height: 140%;
}
.subscribe-status {
    color: var(--green-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .subscribe-block {
        padding-top: 40px;
        position: relative;
    }
    .subscribe-block .subscribe {
        position: relative;
        padding: 14px;
        border-radius: var(--b-radius);
        background: rgba(255, 234, 223, 1);
        background: linear-gradient(191.41deg, rgba(255, 236, 210, 0.3) 6.56%, rgba(252, 182, 159, 0.3) 222.1%), #FFFFFF;
        border: 1.5px solid #FFEADF;
        min-height: 100px;
        align-items: flex-start;
    }
    .subscribe_text {
        font-weight: 600;
        line-height: 140%;
    }

    .subscribe-block_time {
        font-size: 12px;
        line-height: 140%;
        color: rgba(40, 40, 40, 0.5);
        position: absolute;
        bottom: 14px;
        left: 14px;
        padding-left: 28px;
    }
    .subscribe-block_time:after {
        content: url("../images/icons/lil-clock-gray.svg");
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}



/* Страница "Все заказы" */
.lawsuit_nav {
    position: relative;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.07);
    margin: -20px -20px 24px;
    padding: 20px 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.lawsuit_nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
}
.lawsuit_nav li {
    font-weight: 600;
    line-height: 140%;
    color: rgba(40, 40, 40, 0.5);
}
.lawsuit_nav li:hover {
    color: var(--blue-color);
}
.lawsuit_nav li.active {
    color: var(--blue-color);
    position: relative;
}
.lawsuit_nav li.active:after {
    content: '';
    right: 0;
    left: 0;
    height: 2px;
    background-color: var(--blue-color);
    bottom: -13px;
    position: absolute;
}
.lawsuit_nav button {
    display: flex;
    gap: 4px;
    align-items: center;
}
.lawsuit_nav li.has_new button span {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 50%;
}


.request-table-section {
    padding-top: 30px;
    padding-bottom: 160px;
}
.request-table-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.request-table-section .lawsuit_nav {
    margin: 0;
}
.request-table-section .lawyer-wrapper_title {
    text-align: left;
}
.request-table_container {
    background-color: var(--white-color);
    border-radius: 16px;
    min-height: 1007px;
    position: relative;
}


.lawsuit_search {
    position: absolute;
    max-width: 343px;
    width: 100%;
    right: 20px;
    top: 20px;
}
.lawsuit_search input[type="search"] {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding-left: 44px;
    height: 44px;
}
.lawsuit_search input[type="image"] {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}


.request-table {
    padding: 24px 20px;
    width: 100%;
}
.request-table tr {
    display: grid;
    gap: 0 44px;
    /*grid-template-columns: minmax(250px, 500px) minmax(100px, 180px) minmax(1fr, 105px) minmax(1fr, 105px) minmax(1fr, 105px) minmax(1fr, 105px);*/
    grid-template-columns: minmax(180px, 500px) minmax(100px, 180px) repeat(2, minmax(80px, 105px)) minmax(70px, 105px) minmax(80px, auto);
    padding: 16px 20px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.request-table tr:first-child {
    border-radius: 0;
    border: none;
    padding: 0 20px 12px;
}
.request-table tr:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--b-radius) var(--b-radius) 0 0;
}
.request-table tr:last-child {
    border-radius: 0 0 var(--b-radius) var(--b-radius);
}
.request-table_container .request-table tr:nth-child(2){ /*if just two lines*/
    border-top-left-radius: var(--b-radius);
    border-top-right-radius: var(--b-radius);
}
.request-table tr th {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: rgba(40, 40, 40, 0.5);
    text-align: left;
}
.request-table tr td {
    font-size: 14px;
    line-height: 140%;
    text-align: left;
}
.request-table tr td.description {
    font-weight: 600;
    font-size: 16px;
}
.request-table tr td.status {
    font-weight: 600;
    text-transform: uppercase;
}
.request-table tr td.status._moderation {
    color: var(--blue-color)
}
.request-table tr td.status._success {
    color: rgba(0, 170, 135, 1);
}
.request-table tr td.status._error {
    color: rgba(204, 98, 98, 1);
}


@media screen and (max-width: 1280px) {
    .request-table tr {
        gap: 0 20px;
    }
}
@media screen and (max-width: 1024px) {
    .request-table {
        padding: 24px 0;
    }
    .request-table tr {
        gap: 0 20px;
    }
}
@media screen and (max-width: 768px) {
    .request-table-section {
        padding: 0;
    }
    .request-table-section .lawsuit_nav {
        padding: 15px 15px 12px;
    }
    .request-table-section .lawyer-wrapper_title {
        text-align: center;
    }
    .lawyer-wrapper_title span {
        color: var(--dark-color)
    }
    .request-table_container {
        border-radius: 0;
        min-height: auto;
    }
    .request-table_container .breadcrumbs {
        display: flex !important;
    }
    .request-table_container .breadcrumbs a {
        font-weight: 400;
        color: var(--dark-color);
    }
    .request-table_container .breadcrumbs a:after {
        right: -11px;
    }

    .lawsuit_search {
        position: relative;
        top: initial;
        right: initial;
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .lawsuit_nav ul {
        gap: 16px;
        width: calc(100dvw - 32px);
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px;
        margin-bottom: -12px;
    }
}


.request-table_mobile {
    flex-direction: column;
    gap: 8px;
    padding: 24px 12px 66px;
}
.request_unit {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 12px 18px;
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
}
.request_unit .request_header {
    font-weight: 600;
    line-height: 140%;
}
.request_unit .request-row {
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.request_unit .request-row:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}
.request_unit .request-row .request-row_left {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(40, 40, 40, 0.5);
}
.request_unit .request-row .fs-text {
    font-size: 14px;
    text-align: right;
}
.request_unit .request-row .status {
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
}
.request_unit .request-row .status._success {
    color: rgba(0, 170, 135, 1);
}
.request_unit .request-row .status._moderation {
    color: var(--blue-color);
}
.request_unit .request-row .status._error {
    color: rgba(204, 98, 98, 1);
}
.request-table_mobile .read-more {
    margin-top: 24px;
    font-weight: 600;
    line-height: 140%;
    color: var(--blue-color);
}
@media screen and (max-width: 768px) {
    .request-table_mobile {
        display: flex;
    }
}

/* Modal profile edit */
.modal{display: none;}
.fancybox-active .select2-container{z-index: 999999;}
.modal.fancybox-content{
    border-radius: var(--b-radius);
    padding: 32px 40px 44px;
    width: 600px;
}
    .modal .component{width: 100%;}
    .modal .section_header{margin-bottom: 32px;}
    .modal input,.modal textarea{
        border: 1.5px rgba(0,0,0,.1) solid;
        border-radius: 12px;
        padding: 0 20px;
        width: 100%;
    }
    .modal textarea{
        height: 136px;
        padding: 12px 20px;
    }
    .modal .select2-container--default:not(.select2-container--open) .select2-selection--single{border-color: rgba(0,0,0,.1);}
    .modal .form--submit{
        flex-wrap: wrap;
        padding-top: 20px;
        width: 100%;
    }
    .modal .form--submit .main-btn:nth-child(3){
        max-width: 100%;
        width: 100%;
    }
/* Modal order status */
.order-modal_title{
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 32px;
}
.order-modal_title.big{
    font-size: 24px;
    text-align: center;
}
.order-modal-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    margin-bottom: 12px;
}
    .order-modal-content .label-title{color: var(--dark-color);}
    .order-modal textarea{
        height: 147px;
        padding: 12px 20px;
    }
.rate{
    align-content: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 32px;
}
.rate:not(:checked) > input{display: none;}
.rate label path{transition: all .3s linear;}
.rate:not(:checked) > label{
    cursor:pointer;
    height: 50px;
    margin: 0 3px;
    position: relative;
    width: 50px;
}
.rate > input:checked ~ label path{fill: #FF9E0C;}
.rate:not(:checked) > label:hover path,
.rate:not(:checked) > label:hover ~ label path{fill: #FF9E0C;}
.rate > input:checked + label:hover path,
.rate > input:checked + label:hover ~ label path,
.rate > input:checked ~ label:hover path,
.rate > input:checked ~ label:hover ~ label path,
.rate > label:hover ~ input:checked ~ label path{color: #c59b08;}
.profile_modal .registration-form_label{margin-bottom: 12px;}
.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal_time_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}
    .modal_smalltitle{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .checkbox_24{
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 32px;
        padding-left: 36px;
        position: relative;
        width: auto;
    }
        .checkbox_24 input{display: none;}
        .checkbox_24:before,.checkbox_24:after{
            border-radius: 50%;
            content: "";
            height: 24px;
            left: 0;
            position: absolute;
            right: 0;
            transition: all .3s linear;
            width: 24px;
        }
        .checkbox_24:before{
            background-color: #EBEDF6;
            border: 1px rgba(0,0,0,.1) solid;
        }
        .checkbox_24.active:before{
            background-color: var(--blue-color);
            border-color: var(--blue-color);
        }
        .checkbox_24:after{
            background: url(../images/icons/checkbox_24-icon.svg) 7px 7px no-repeat;
            opacity: 0;
        }
        .checkbox_24.active:after{opacity: 1;}
.schedule-container{}
    .schedule_result{
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 24px;
    }
    .days-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 16px;
    }
        .days-container-title{
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 12px;
            width: 100%;
        }
        .days-checkbox{
            align-items: center;
            border: 2px rgba(0,0,0,.1) solid;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            font-size: 16px;
            font-weight: 600;
            height: 44px;
            justify-content: center;
            line-height: 20px;
            margin: 0 6px 8px 0;
            transition: all .3s linear;
            width: 44px;
        }
        .days-checkbox:last-child{margin-right: 0;}
        .days-checkbox.active{
            background-color: #F2F4FE;
            border-color: var(--blue-color);
        }
            .days-checkbox input{display: none;}
.img-edit{
    border-radius: 12px;
    height: 100px;
    margin: 24px 0 12px;
    width: 100px;
}
    .img-edit img{
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
.docs-slider_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
    .docs-slider_container .slick-arrow{
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 30px;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: -44px;
        width: 40px;
    }
    .docs-slider_container .slick-prev{
        right: 40px;
        transform: rotate(180deg);
    }
        .docs-slider_container .slick-arrow path{transition: all .3s linear;}
        .docs-slider_container .slick-arrow:hover path{fill: var(--blue-color);}
    .docs-slider_item{
        position: relative;
        width: 130px;
    }
        .docs-slider_item img{
            border-radius: 12px;
            height: 130px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
        .docs-slider_title{
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 140%;
            padding-top: 2px;
        }
        .docs-slider_item-edit{
            background: #fff url(../images/icons/edit-icon_small.svg) center no-repeat;
            border-radius: 50%;
            box-shadow: 0 0 4px rgba(0,0,0,.2);
            height: 24px;
            position: absolute;
            right: 4px;
            top: 4px;
            width: 24px;
            z-index: 9;
        }
        .docs-slider_item_add{
            align-items: center;
            border: 1px rgba(0,0,0,.1) solid;
            border-radius: 12px;
            color: var(--blue-color);
            cursor: pointer;
            display: flex;
            flex-direction: row;
            height: 130px;
            justify-content: center;
            width: 100%;
        }
            .docs-slider_item_add span{
                font-size: 14px;
                font-weight: 600;
                line-height: 140%;
                padding-top: 32px;
                position: relative;
            }
            .docs-slider_item_add span:before,.docs-slider_item_add span:after{
                background-color: var(--blue-color);
                border-radius: 2px;
                content: "";
                height: 2px;
                left: calc(50% - 10px);
                position: absolute;
                top: 11px;
                width: 20px;
            }
            .docs-slider_item_add span:after{transform: rotate(90deg);}
    .docs-slider-content{
        margin-right: -12px;
        overflow: hidden;
        width: calc(100% - 130px);
    }
.docs-slider{
    width: 100%;
}
.docs-slider:not(.slick-initialized){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
    .docs-slider .docs-slider_item{margin-right: 12px;}
.profile_modal .registration-form_label .label-title{color: var(--dark-color);}
.form-row_files.add-cert_btn{height: 70px;}
    .form-row_files.add-cert_btn span{
        background: url(../images/icons/file-icon.svg) top no-repeat;
        color: rgba(40,40,40,.5);
        font-size: 14px;
        line-height: 140%;
        padding-top: 28px;
    }
.specializations-clear{
    color: #999;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    position: absolute;
    right: 96px;
    top: 34px;
    transition: all .3s linear;
}
    .specializations-clear:hover{
        color: var(--dark-color);
        text-decoration: underline;
    }
.specializations-btn_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 6px;
}
    .specializations-btn{
        display: inline-block;
        margin-bottom: 8px;
    }
        .specializations-btn [class*="specializations-"]{
            align-content: center;
            border-radius: 19px;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 14px;
            height: 38px;
            justify-content: center;
            line-height: 18px;
            padding: 0 44px 0 12px;
            transition: all .3s linear;
        }
        .specializations-add{background: rgba(226,226,226,.3) url(../images/icons/add-icon.svg) center right 12px no-repeat;}
        .specializations-add:hover{background-color: rgba(226,226,226,1);}
        .specializations-delete{background: rgba(198,208,253,.3) url(../images/icons/delete-icon.svg) center right 12px no-repeat;}
        .specializations-delete:hover{background-color: rgba(198,208,253,1);}
@media (max-width: 768px){
.docs-slider-content{
    margin-right: -90px;
    width: calc(100% - 52px);
}
}/* END 7680px */
@media (max-width: 600px){
.modal.fancybox-content{padding: 24px 16px 32px;}
.order-modal_title.big{
    font-size: 18px;
    text-align: left;
}
.specializations-clear{top: 28px;}
}/* END 600px */







