.payment-section .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    align-items: flex-start;
    padding-bottom: 50px;
}
.payment {
    background-color: var(--white-color);
    border-radius: 16px;
    display: flex;
    flex: 1 1 975px;
    flex-wrap: wrap;
    gap: 32px 20px;
    padding: 16px 24px 24px;
}
.payment-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
    .payment-block.finance-block{flex: 1 1 340px;}
    .payment-block.payment-replenishment{flex: 1 1 567px;}
.payment_header {
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
}
.payment-container {
    padding: 32px 24px;
    border-radius: var(--b-radius);
    border: 2px solid rgba(0, 0, 0, 0.10);
    flex: 1 1 auto;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
    .finance-block .payment-container{background: rgba(239,242,255,.3);}
.payment-container p {
    font-weight: 600;
    line-height: 140%;
}
.payment-section .lawyer-block {
    flex: 1 1 395px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(2px);
    padding: 20px 27px;
}
    .payment-section .lawyer-info_balance{background-color: #fff;}
.finance-block .line {
    margin: 12px 0;
}
.finance-line {
    display: flex;
    justify-content: space-between;
}
.finance-line.text-gray p {
    color: rgba(40, 40, 40, 0.50);
}
.finance-block .finance-line:last-of-type {
    margin-top: 12px;
}


form.payment-container{
    padding-top: 18px;
}
form.payment-container label {
    display: flex;
    align-items: center;
    gap: 16px;
}
form.payment-container .label_text {
    max-width: 186px;
    width: 100%;
    font-weight: 600;
    line-height: 140%;
    display: block;
}
form.payment-container .label_subtext {
    font-weight: 600;
    line-height: 140%;
}
form.payment-container input {
    border-radius: var(--b-radius-second);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    width: 148px;
}
form.payment-container input[name="execution-sum"] {
    text-align: center;
}
form.payment-container .payment-type input {
    width: 100%;
}
form.payment-container .code {
    color: rgba(40, 40, 40, 0.50);
    text-decoration: none;
    margin: 20px 0 0 202px;
    width: max-content;
}
form.payment-container .code a {
    color: var(--blue-color);
    font-weight: 600;
    line-height: 140%;
    text-decoration: underline;
}
form.payment-container p {
    display: flex;
    align-items: center;
    gap: 16px;
}
form.payment-container p.text_lil {
    color: rgba(40, 40, 40, 0.50);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}
form.payment-container .main-btn {
    width: 210px;
    margin: 24px auto 0 auto;
}
form.payment-container .main-btn img {
    width: 10px;
}
.payment-type .select-window {
    right: 18px;
    width: calc(313px - 36px);
    left: auto;
}


.transaction-block {
    width: 100%;
}
.transaction-history {
    border: 1px solid rgb(207,214,251);
    border-radius: var(--b-radius);
    overflow: hidden;
}
.transaction-history th,
.transaction-history td {
    padding: 10px 12px;
    color: #282828;
    text-align: center;
    font-size: 14px;
    line-height: 130%;
}
.transaction-history th {
    background-color: rgb(239,242,255);
}
.transaction-history td {
    border-top: 1px solid rgb(207,214,251);
    border-right: 1px solid rgb(207,214,251);
}
.transaction-history td:last-child {
    border-right: none;
}
.transaction-sum.green {
    color: var(--green-color)
}
.transaction-sum.red {
    color: #CF4040;
}


.payment-section .lawyer-avatar {
    display: flex;
    gap: 12px;
    align-items: center;
}
.payment-section .lawyer-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.payment-section .lawyer-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
}
@media screen and (max-width: 1024px) {
.transaction-history{
    border: none;
    border-radius: 0;
}
    .transaction-history tbody{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .transaction-history thead{display: none;}
    .transaction-history tr{
        border: 1px rgba(0,0,0,.1) solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }
    .transaction-history td.transaction-sum{
        background: rgba(239,242,255,.3);
        border: none;
        border-radius: 12px 12px 0 0;
        color: var(--accent-color);
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
        margin: 0;
        order: -1;
        padding: 20px 12px;
    }
    .transaction-history td.transaction-sum.green{color: var(--green-color);}
    .transaction-history td{
        border: none;
        border-bottom: 1px rgba(0,0,0,.1) solid;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin: 0 12px;
        padding: 12px 0;
        position: relative;
    }
        .transaction-history td:last-child{border-bottom: none;}
        .transaction-history td:not(.transaction-sum):before{
            color: rgba(40,40,40,.5);
            content: attr(data-label);
            font-size: 14px;
            line-height: 130%;
        }
}/* END 1024px */
@media screen and (max-width: 620px) {
.payment-section .container{padding-bottom: 0;}
.payment-section .lawyer-block{
    gap: 14px;
    order: -1;
    padding: 16px;
}
    .payment-section .lawyer-name{font-size: 16px;}
    .payment-section .lawyer-avatar img{
        height: 60px;
        width: 60px;
    }
    .payment-section .lawyer-info_balance{
        padding: 16px;
    }
        .payment-section .lawyer-balance-block{
            align-items: center;
            background: none;
            display: flex;
            justify-content: flex-start;
            margin: 0;
            padding: 0;
        }
        .payment-section .lawyer-info_balance p{
            font-size: 14px;
            margin-bottom: 0;
            width: 136px;
        }
        .payment-section .balance-summ{font-size: 16px;}
.payment{
    border-radius: 0;
    margin: 0 -16px;
    padding: 27px 16px 50px;
    width: calc(100% + 32px);
}
    .payment_header{font-size: 18px;}
    .payment-container{padding: 22px 16px;}
    form.payment-container{gap: 24px;}
        form.payment-container label{
            gap: 12px;
            flex-wrap: wrap;
        }
        form.payment-container .label_text{
            font-size: 14px;
            max-width: none;
        }
        .payment-type{
            border-bottom: 1px rgba(0,0,0,.1) solid;
            padding-bottom: 24px;
        }
        form.payment-container .code{margin: 12px 0 0;}
        .select .sub-icon{top: 48px;}
        form.payment-container p.text_lil{margin-top: -16px;}
    form.payment-container .main-btn{margin-top: 20px;}
}/* END 620px */
