.popup {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 600;
    transition-duration: var(--transition);
    opacity: 1;
}
.popup_hide {
    z-index: -1;
    opacity: 0;
    transition-delay: .1s;
}
.popup_shadow {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.50);
}
.step {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    transition-duration: var(--transition);
    z-index: 2;
    opacity: 1;
}
.step_hide {
    opacity: 0;
    z-index: -1;
}

.mob_nav{
    color: var(--white-color);
    line-height: 140%;
}
.mob_nav > li:not(:last-child){margin-bottom: 16px;}
.mob_nav > li > a{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 0;
}
    .nav-item{
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        padding: 4px 24px 4px 0;
        position: relative;
    }
        .nav-item:before{
            background: url(../images/icons/arrow-icon-white.svg) center / auto 100% no-repeat;
            content: "";
            height: 11px;
            position: absolute;
            right: 0;
            rotate: 90deg;
            top: calc(50% - 4px);
            transition: all .3s linear;
            width: 9px;
        }
        .active .nav-item:before{rotate: -90deg;}
    .mob_nav ul{
        display: none;
        padding: 12px 0 0 24px;
    }
        .mob_nav ul li:not(:last-child){margin-bottom: 10px;}
        .mob_nav ul li a{
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            transition: all .3s linear;
        }
        .mob_nav ul li a:hover{color: var(--orange-color);}
.mob-create-order{
    background: url(../images/icons/new-order.svg) no-repeat;
    color: var(--orange-color);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 29px;
}
@media screen and (max-width: 1024px) {
    .mobile-step_top, .mobile-step_right {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translate(0, 0);
    }
    .mobile-step_top.step_hide {
        transform: translateY(-100%) translateX(0);
    }

    .mobile-step_right.step_hide {
        transform: translateY(0) translateX(100%);
    }
}

.mobile-menu-popup .step {
    background-color: var(--dark-color);
    padding: 14px 16px;
}
.mobile-menu-popup .mob_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-close{
    background: url(../images/icons/arrow-back-icon.svg) center no-repeat;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
@media screen and (max-width: 1024px) {
    .mobile-menu-popup {
        display: block;
    }
    .mobile-menu-popup .step {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .mobile-menu-popup .mob-header_title {
        color: var(--white-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
    }
    .support-phone {
        border-radius: 16px;
        border: 1px solid var(--white-color);
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(2px);

        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        padding: 10px 12px;
        margin-top: auto;
    }
    .support-phone span {
        color: rgba(255, 255, 255, 0.50);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }
    .support-phone p {
        color: var(--white-color);
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }
}

#mobile-filter-popup .step1 {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 64px);
}
#mobile-filter-popup .step1 .filter-header {
    overflow: auto;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background: #FFF;
    box-shadow: var(--box-shadow);
    gap: 12px;
    min-height: 56px;
}
#mobile-filter-popup .step1 .filter-header span {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}
#mobile-filter-popup .step1 .filter-header .main {
    color: var(--dark-color)
}
#mobile-filter-popup .step1 .filter-header .second {
    color: rgba(40, 40, 40, 0.50);
}
#mobile-filter-popup .step1 .filter-header img {
    width: 32px;
}
#mobile-filter-popup .step1 .filter-header button[type="reset"] {
    margin-left: auto;
    color: var(--blue-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-decoration-line: underline;
}
#mobile-filter-popup .mobile-filter_filters {
    padding: 19px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    flex: 1 1 auto;
}
#mobile-filter-popup .unit-select_select {
    border-radius: var(--b-radius-second);
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
}
#mobile-filter-popup .select-window {
    top: calc(100% - 0px);
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    border-left: 1px solid rgba(0, 0, 0, 0.10);
}
#mobile-filter-popup .select-window._open {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);

}


#chat-popup .step1 img[alt="arrow-icon"] {
    width: 32px;
}
#chat-popup .step1 .chat-header_left h4 {
    display: flex;
    align-items: center;
    gap: 4px;
}
#chat-popup .step1 .chat-header_left h4 img {
    width: 24px;
}
@media screen and (max-width: 1024px) {
    #chat-popup {
        display: flex;
    }
    #chat-popup .chat-window {
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    #chat-popup .step1 img[alt="arrow-icon"] {
        margin-right: 8px;
    }
}

