.flag-drop{
    float:left;
    padding:0 !important;
    margin:7px 0px 0px 10px  !important;
    width:16px!important;
    height:11px !important;
}
.flag{
    float:left;padding:0 !important;
    margin:0 0px 0 0;
    width:20px;height:11px;
    background:url(/images/icons/flagssprite_small.png) no-repeat;
}
.flag1{
    float:left;padding:0 !important;
    margin:0 40px 0 0;
    width:24px;height:11px;
    background:url(/images/icons/flagssprite_small.png) no-repeat;
}

.flag.ad,.flag1.ad{background-position:0 0}
.flag.ae,.flag1.ae{background-position:0 -11px}
.flag.af,.flag1.af{background-position:0 -22px}
.flag.ag,.flag1.ag{background-position:0 -33px}
.flag.ai,.flag1.ai{background-position:0 -44px}
.flag.al,.flag1.al{background-position:0 -55px}
.flag.am,.flag1.am{background-position:0 -66px}
.flag.an,.flag1.an{background-position:0 -77px}
.flag.ao,.flag1.ao{background-position:0 -88px}
.flag.ar,.flag1.ar{background-position:0 -99px}
.flag.as,.flag1.as{background-position:0 -110px}
.flag.at,.flag1.at{background-position:0 -121px}
.flag.au,.flag1.au{background-position:0 -132px}
.flag.aw,.flag1.aw{background-position:0 -143px}
.flag.ax,.flag1.ax{background-position:0 -154px}
.flag.az,.flag1.az{background-position:0 -165px}
.flag.ba,.flag1.ba{background-position:0 -176px}
.flag.bb,.flag1.bb{background-position:0 -187px}
.flag.bd,.flag1.bd{background-position:0 -198px}
.flag.be,.flag1.be{background-position:0 -209px}
.flag.bf,.flag1.bf{background-position:0 -220px}
.flag.bg,.flag1.bg{background-position:0 -231px}
.flag.bh,.flag1.bh{background-position:0 -242px}
.flag.bi,.flag1.bi{background-position:0 -253px}
.flag.bj,.flag1.bj{background-position:0 -264px}
.flag.bm,.flag1.bm{background-position:0 -275px}
.flag.bn,.flag1.bn{background-position:0 -286px}
.flag.bo,.flag1.bo{background-position:0 -297px}
.flag.br,.flag1.br{background-position:0 -308px}
.flag.bs,.flag1.bs{background-position:0 -319px}
.flag.bt,.flag1.bt{background-position:0 -330px}
.flag.bv,.flag1.bv{background-position:0 -341px}
.flag.bw,.flag1.bw{background-position:0 -352px}
.flag.by,.flag1.by{background-position:0 -363px}
.flag.bz,.flag1.bz{background-position:0 -374px}
.flag.ca,.flag1.ca{background-position:0 -385px}
.flag.cataloni,.flag1.catalonia{background-position:0 -396px}
.flag.cc,.flag1.cc{background-position:0 -407px}
.flag.cd,.flag1.cd{background-position:0 -418px}
.flag.cf,.flag1.cf{background-position:0 -429px}
.flag.cg,.flag1.cg{background-position:0 -440px}
.flag.ch,.flag1.ch{background-position:0 -451px}
.flag.ci,.flag1.ci{background-position:0 -462px}
.flag.ck,.flag1.ck{background-position:0 -473px}
.flag.cl,.flag1.cl{background-position:0 -484px}
.flag.cm,.flag1.cm{background-position:0 -495px}
.flag.cn,.flag1.cn{background-position:0 -506px}
.flag.co,.flag1.co{background-position:0 -517px}
.flag.cu,.flag1.cu{background-position:0 -528px}
.flag.cr,.flag1.cr{background-position:0 -539px}
.flag.cs,.flag1.cs{background-position:0 -550px}
.flag.cv,.flag1.cv{background-position:0 -561px}
.flag.cx,.flag1.cx{background-position:0 -572px}
.flag.cy,.flag1.cy{background-position:-16px 0}
.flag.cz,.flag1.cz{background-position:-16px -11px}
.flag.de,.flag1.de{background-position:-16px -22px}
.flag.dj,.flag1.dj{background-position:-16px -33px}
.flag.dk,.flag1.dk{background-position:-16px -44px}
.flag.dm,.flag1.dm{background-position:-16px -55px}
.flag.do,.flag1.do{background-position:-16px -66px}
.flag.dz,.flag1.dz{background-position:-16px -77px}
.flag.ec,.flag1.ec{background-position:-16px -88px}
.flag.ee,.flag1.ee{background-position:-16px -99px}
.flag.eg,.flag1.eg{background-position:-16px -110px}
.flag.eh,.flag1.eh{background-position:-16px -121px}
.flag.england,.flag1.england{background-position:-16px -132px}
.flag.er,.flag1.er{background-position:-16px -143px}
.flag.es,.flag1.es{background-position:-16px -154px}
.flag.et,.flag1.et{background-position:-16px -165px}
.flag.eu,.flag1.eu{background-position:-16px -176px}
.flag.fam,.flag1.fam{background-position:-16px -187px}
.flag.fi,.flag1.fi{background-position:-16px -198px}
.flag.fj,.flag1.fj{background-position:-16px -209px}
.flag.fk,.flag1.fk{background-position:-16px -220px}
.flag.fm,.flag1.fm{background-position:-16px -231px}
.flag.fo,.flag1.fo{background-position:-16px -242px}
.flag.fr,.flag1.fr{background-position:-16px -253px}
.flag.ga,.flag1.ga{background-position:-16px -264px}
.flag.gb,.flag1.gb{background-position:-16px -275px}
.flag.gd,.flag1.gd{background-position:-16px -286px}
.flag.ge,.flag1.ge{background-position:-16px -297px}
.flag.gf,.flag1.gf{background-position:-16px -308px}
.flag.gh,.flag1.gh{background-position:-16px -319px}
.flag.gi,.flag1.gi{background-position:-16px -330px}
.flag.gl,.flag1.gl{background-position:-16px -341px}
.flag.gm,.flag1.gm{background-position:-16px -352px}
.flag.gn,.flag1.gn{background-position:-16px -363px}
.flag.gp,.flag1.gp{background-position:-16px -374px}
.flag.gq,.flag1.gq{background-position:-16px -385px}
.flag.gr,.flag1.gr{background-position:-16px -396px}
.flag.gs,.flag1.gs{background-position:-16px -407px}
.flag.gt,.flag1.gt{background-position:-16px -418px}
.flag.gu,.flag1.gu{background-position:-16px -429px}
.flag.gw,.flag1.gw{background-position:-16px -440px}
.flag.gy,.flag1.gy{background-position:-16px -451px}
.flag.hk,.flag1.hk{background-position:-16px -462px}
.flag.hm,.flag1.hm{background-position:-16px -473px}
.flag.hn,.flag1.hn{background-position:-16px -484px}
.flag.hr,.flag1.hr{background-position:-16px -495px}
.flag.ht,.flag1.ht{background-position:-16px -506px}
.flag.hu,.flag1.hu{background-position:-16px -517px}
.flag.id,.flag1.id{background-position:-16px -528px}
.flag.ie,.flag1.ie{background-position:-16px -539px}
.flag.il,.flag1.il{background-position:-16px -550px}
.flag.in,.flag1.in{background-position:-16px -561px}
.flag.io,.flag1.io{background-position:-16px -572px}
.flag.iq,.flag1.iq{background-position:-32px 0}
.flag.ir,.flag1.ir{background-position:-32px -11px}
.flag.is,.flag1.is{background-position:-32px -22px}
.flag.it,.flag1.it{background-position:-32px -33px}
.flag.jm,.flag1.jm{background-position:-32px -44px}
.flag.jo,.flag1.jo{background-position:-32px -55px}
.flag.jp,.flag1.jp{background-position:-32px -66px}
.flag.ke,.flag1.ke{background-position:-32px -77px}
.flag.kg,.flag1.kg{background-position:-32px -88px}
.flag.kh,.flag1.kh{background-position:-32px -99px}
.flag.ki,.flag1.ki{background-position:-32px -110px}
.flag.km,.flag1.km{background-position:-32px -121px}
.flag.kn,.flag1.kn{background-position:-32px -132px}
.flag.kp,.flag1.kp{background-position:-32px -143px}
.flag.kr,.flag1.kr{background-position:-32px -154px}
.flag.kw,.flag1.kw{background-position:-32px -165px}
.flag.ky,.flag1.ky{background-position:-32px -176px}
.flag.kz,.flag1.kz{background-position:-32px -187px}
.flag.la,.flag1.la{background-position:-32px -198px}
.flag.lb,.flag1.lb{background-position:-32px -209px}
.flag.lc,.flag1.lc{background-position:-32px -220px}
.flag.li,.flag1.li{background-position:-32px -231px}
.flag.lr,.flag1.lr{background-position:-32px -242px}
.flag.lk,.flag1.lk{background-position:-32px -253px}
.flag.ls,.flag1.ls{background-position:-32px -264px}
.flag.lt,.flag1.lt{background-position:-32px -275px}
.flag.lu,.flag1.lu{background-position:-32px -286px}
.flag.lv,.flag1.lv{background-position:-32px -297px}
.flag.ly,.flag1.ly{background-position:-32px -308px}
.flag.ma,.flag1.ma{background-position:-32px -319px}
.flag.mc,.flag1.mc{background-position:-32px -330px}
.flag.md,.flag1.md{background-position:-32px -341px}
.flag.me,.flag1.me{background-position:-32px -352px}
.flag.mg,.flag1.mg{background-position:-32px -363px}
.flag.mh,.flag1.mh{background-position:-32px -374px}
.flag.mk,.flag1.mk{background-position:-32px -385px}
.flag.ml,.flag1.ml{background-position:-32px -396px}
.flag.mm,.flag1.mm{background-position:-32px -407px}
.flag.mn,.flag1.mn{background-position:-32px -418px}
.flag.mo,.flag1.mo{background-position:-32px -429px}
.flag.mp,.flag1.mp{background-position:-32px -440px}
.flag.mq,.flag1.mq{background-position:-32px -451px}
.flag.mr,.flag1.mr{background-position:-32px -462px}
.flag.ms,.flag1.ms{background-position:-32px -473px}
.flag.mt,.flag1.mt{background-position:-32px -484px}
.flag.mu,.flag1.mu{background-position:-32px -495px}
.flag.mv,.flag1.mv{background-position:-32px -506px}
.flag.mw,.flag1.mw{background-position:-32px -517px}
.flag.mx,.flag1.mx{background-position:-32px -528px}
.flag.my,.flag1.my{background-position:-32px -539px}
.flag.mz,.flag1.mz{background-position:-32px -550px}
.flag.na,.flag1.na{background-position:-32px -561px}
.flag.nc,.flag1.nc{background-position:-32px -572px}
.flag.ne,.flag1.ne{background-position:-48px 0}
.flag.nf,.flag1.nf{background-position:-48px -11px}
.flag.ng,.flag1.ng{background-position:-48px -22px}
.flag.ni,.flag1.ni{background-position:-48px -33px}
.flag.nl,.flag1.nl{background-position:-48px -44px}
.flag.no,.flag1.no{background-position:-48px -55px}
.flag.np,.flag1.np{background-position:-48px -66px}
.flag.nr,.flag1.nr{background-position:-48px -77px}
.flag.nu,.flag1.nu{background-position:-48px -88px}
.flag.nz,.flag1.nz{background-position:-48px -99px}
.flag.om,.flag1.om{background-position:-48px -110px}
.flag.pa,.flag1.pa{background-position:-48px -121px}
.flag.pe,.flag1.pe{background-position:-48px -132px}
.flag.pf,.flag1.pf{background-position:-48px -143px}
.flag.pg,.flag1.pg{background-position:-48px -154px}
.flag.ph,.flag1.ph{background-position:-48px -165px}
.flag.pk,.flag1.pk{background-position:-48px -176px}
.flag.pl,.flag1.pl{background-position:-48px -187px}
.flag.pm,.flag1.pm{background-position:-48px -198px}
.flag.pn,.flag1.pn{background-position:-48px -209px}
.flag.pr,.flag1.pr{background-position:-48px -220px}
.flag.ps,.flag1.ps{background-position:-48px -231px}
.flag.pt,.flag1.pt{background-position:-48px -242px}
.flag.pw,.flag1.pw{background-position:-48px -253px}
.flag.py,.flag1.py{background-position:-48px -264px}
.flag.qa,.flag1.qa{background-position:-48px -275px}
.flag.re,.flag1.re{background-position:-48px -286px}
.flag.ro,.flag1.ro{background-position:-48px -297px}
.flag.rs,.flag1.rs{background-position:-48px -308px}
.flag.ru,.flag1.ru{background-position:-48px -319px}
.flag.rw,.flag1.rw{background-position:-48px -330px}
.flag.sa,.flag1.sa{background-position:-48px -341px}
.flag.sb,.flag1.sb{background-position:-48px -352px}
.flag.sc,.flag1.sc{background-position:-48px -363px}
.flag.scotland,.flag1.scotland{background-position:-48px -374px}
.flag.sd,.flag1.sd{background-position:-48px -385px}
.flag.se,.flag1.se{background-position:-48px -396px}
.flag.sg,.flag1.sg{background-position:-48px -407px}
.flag.sh,.flag1.sh{background-position:-48px -418px}
.flag.si,.flag1.si{background-position:-48px -429px}
.flag.sj,.flag1.sj{background-position:-48px -440px}
.flag.sk,.flag1.sk{background-position:-48px -451px}
.flag.sl,.flag1.sl{background-position:-48px -462px}
.flag.sm,.flag1.sm{background-position:-48px -473px}
.flag.sn,.flag1.sn{background-position:-48px -484px}
.flag.so,.flag1.so{background-position:-48px -495px}
.flag.sr,.flag1.sr{background-position:-48px -506px}
.flag.st,.flag1.st{background-position:-48px -517px}
.flag.sv,.flag1.sv{background-position:-48px -528px}
.flag.sy,.flag1.sy{background-position:-48px -539px}
.flag.sz,.flag1.sz{background-position:-48px -550px}
.flag.tc,.flag1.tc{background-position:-48px -561px}
.flag.td,.flag1.td{background-position:-48px -572px}
.flag.tf,.flag1.tf{background-position:-64px 0}
.flag.tg,.flag1.tg{background-position:-64px -11px}
.flag.th,.flag1.th{background-position:-64px -22px}
.flag.tj,.flag1.tj{background-position:-64px -33px}
.flag.tk,.flag1.tk{background-position:-64px -44px}
.flag.tl,.flag1.tl{background-position:-64px -55px}
.flag.tm,.flag1.tm{background-position:-64px -66px}
.flag.tn,.flag1.tn{background-position:-64px -77px}
.flag.to,.flag1.to{background-position:-64px -88px}
.flag.tr,.flag1.tr{background-position:-64px -99px}
.flag.tt,.flag1.tt{background-position:-64px -110px}
.flag.tv,.flag1.tv{background-position:-64px -121px}
.flag.tw,.flag1.tw{background-position:-64px -132px}
.flag.tz,.flag1.tz{background-position:-64px -143px}
.flag.ua,.flag1.ua{background-position:-64px -154px}
.flag.ug,.flag1.ug{background-position:-64px -165px}
.flag.um,.flag1.um{background-position:-64px -176px}
.flag.us,.flag1.us{background-position:-64px -187px}
.flag.uy,.flag1.uy{background-position:-64px -198px}
.flag.uz,.flag1.uz{background-position:-64px -209px}
.flag.va,.flag1.va{background-position:-64px -220px}
.flag.vc,.flag1.vc{background-position:-64px -231px}
.flag.ve,.flag1.ve{background-position:-64px -242px}
.flag.vg,.flag1.vg{background-position:-64px -253px}
.flag.vi,.flag1.vi{background-position:-64px -264px}
.flag.vn,.flag1.vn{background-position:-64px -275px}
.flag.vu,.flag1.vu{background-position:-64px -286px}
.flag.wales,.flag1.wales{background-position:-64px -297px}
.flag.wf,.flag1.wf{background-position:-64px -308px}
.flag.ws,.flag1.ws{background-position:-64px -319px}
.flag.ye,.flag1.ye{background-position:-64px -330px}
.flag.yt,.flag1.yt{background-position:-64px -341px}
.flag.za,.flag1.za{background-position:-64px -352px}
.flag.zm,.flag1.zm{background-position:-64px -363px}
.flag.zw,.flag1.zw{background-position:-64px -374px}
.ms-dd-header .flag{margin-top: 8px !important;}
